nitrogen/*
bashtop/*
Google/*
matplotlib/*
BraveSoftware/*
gpicview/*
menus/*
Postman/*
pulse/*
VirtualBox/*
coc/*
qBittorrent/*
VSCodium/*
htop/*
wireshark/*
mpv/*
nautilus/*
ranger/*
xfce4/*
libreoffice/*
spotify/*
neofetch/*
nvim/*

